extends ../layout

block content
  h2 Transaction details

  if transaction
    h4 Transaction ID
    h4= transaction.id
    p
      h5 Order ID
      h5= transaction.order_id

    if transaction.date
      h6= transaction.date
    if transaction.delivery_address
      h6= transaction.delivery_address

    a( href="/transaction/pay/" + transaction.id )
      button( value="Pay" ) Proceed to Payment
